{
  "themeName": "公用主题",
  "modules": [
    {
      "moduleName": "首页",
      "modulePath": "theme_common/pages/index",
      "pathType": 1,
      "contents": [
        {
          "containerId": "indexdiv1",
          "containerName": "页面",
          "contentTypes": [
            8
          ]
        }
      ]
    },
    {
      "moduleName": "导航页",
      "modulePath": "theme_common/pages/navigation",
      "pathType": 1,
      "contents": [
        {
          "containerId": "navigationdiv1",
          "containerName": "目录",
          "contentTypes": [
            7
          ]
        }
      ]
    },
    {
      "moduleName": "6个框",
      "modulePath": "theme_common/pages/panel",
      "pathType": 1,
      "contents": [
        {
          "containerId": "paneldiv1",
          "containerName": "页面",
          "contentTypes": [
            8
          ]
        },
        {
          "containerId": "paneldiv2",
          "containerName": "页面",
          "contentTypes": [
            8
          ]
        },
        {
          "containerId": "paneldiv3",
          "containerName": "页面",
          "contentTypes": [
            8
          ]
        },
        {
          "containerId": "paneldiv4",
          "containerName": "页面",
          "contentTypes": [
            8
          ]
        },
        {
          "containerId": "paneldiv5",
          "containerName": "页面",
          "contentTypes": [
            8
          ]
        },
        {
          "containerId": "paneldiv6",
          "containerName": "页面",
          "contentTypes": [
            8
          ]
        }
      ]
    },
    {
      "moduleName": "框内容页",
      "modulePath": "theme_common/pages/chart",
      "pathType": 1,
      "contents": [
        {
          "containerId": "chartdiv1",
          "containerName": "图表",
          "contentTypes": [
            3
          ]
        },
        {
          "containerId": "chartdiv2",
          "containerName": "数据集",
          "contentTypes": [
            9
          ]
        }
      ]
    },
    {
      "moduleName": "数据地图",
      "modulePath": "theme_common/pages/mapData",
      "pathType": 1,
      "contents": [
        {
          "containerId": "mapDatadiv1",
          "containerName": "目录",
          "contentTypes": [
            7
          ]
        }
      ]
    },
    {
      "moduleName": "地图",
      "modulePath": "theme_common/pages/map",
      "pathType": 1,
      "contents": [
        {
          "containerId": "mapdiv1",
          "containerName": "地图",
          "contentTypes": [
            4
          ]
        }
      ]
    },
    {
      "moduleName": "测试页面",
      "modulePath": "theme_common/pages/test",
      "pathType": 1,
      "contents": [
        {
          "containerId": "div2",
          "containerName": "测试",
          "contentTypes": [
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9
          ]
        }
      ]
    },
    {
      "moduleName": "经济指标图表详情页",
      "modulePath": "theme_common/pages/economicDetails",
      "pathType": 1,
      "contents": [
        {
          "containerId": "detaildiv1",
          "containerName": "总体情况",
          "contentTypes": [
            7
          ]
        },
        {
          "containerId": "detaildiv2",
          "containerName": "排名",
          "contentTypes": [
            7
          ]
        },
        {
          "containerId": "detaildiv3",
          "containerName": "结构",
          "contentTypes": [
            7
          ]
        },
        {
          "containerId": "detaildiv4",
          "containerName": "完成情况",
          "contentTypes": [
            7
          ]
        }
      ]
    },
    {
      "moduleName": "报表",
      "modulePath": "theme_common/pages/esiReport",
      "pathType": 1,
      "contents": [
        {
          "containerId": "reportdiv1",
          "containerName": "报表",
          "contentTypes": [
            1,
            2
          ]
        }
      ]
    },
    {
      "moduleName": "图表",
      "modulePath": "theme_common/pages/esiChart",
      "pathType": 1,
      "contents": [
        {
          "containerId": "chartdiv1",
          "containerName": "图表",
          "contentTypes": [
            3
          ]
        }
      ]
    },
    {
      "moduleName": "重点关注详情页",
      "modulePath": "theme_common/pages/importantFocusDetail",
      "pathType": 1,
      "contents": [
        {
          "containerId": "detaildiv1",
          "containerName": "总体情况",
          "contentTypes": [
            7
          ]
        },
        {
          "containerId": "detaildiv2",
          "containerName": "趋势",
          "contentTypes": [
            7
          ]
        },
        {
          "containerId": "detaildiv3",
          "containerName": "地域信息",
          "contentTypes": [
            7
          ]
        },
        {
          "containerId": "detaildiv4",
          "containerName": "对标",
          "contentTypes": [
            7
          ]
        },
        {
          "containerId": "detaildiv5",
          "containerName": "结构",
          "contentTypes": [
            7
          ]
        }
      ]
    },
    {
      "moduleName": "数据发布",
      "modulePath": "theme_common/pages/submitData",
      "pathType": 1,
      "contents": [
        {
          "containerId": "submitDatadiv1",
          "containerName": "分析主题",
          "contentTypes": [
            10
          ]
        }
      ]
    },
    {
      "moduleName": "测试页面",
      "modulePath": "theme_common/pages/test",
      "pathType": 1,
      "contents": [
        {
          "containerId": "navs",
          "containerName": "标签页",
          "contentTypes": [
            7
          ]
        }
      ]
    },
    {
      "moduleName": "测试重点",
      "modulePath": "theme_common/pages/testzd",
      "pathType": 1,
      "contents": [
        {
          "containerId": "cards",
          "containerName": "卡片",
          "contentTypes": [
            7
          ]
        }
      ]
    },
    {
      "moduleName": "测试卡片",
      "modulePath": "theme_common/pages/testcard",
      "pathType": 1,
      "contents": [
        {
          "containerId": "indexDataSet",
          "containerName": "首页数据集",
          "contentTypes": [
            9
          ]
        },
        {
          "containerId": "indexChart",
          "containerName": "首页图表",
          "contentTypes": [
            3
          ]
        },
        {
          "containerId": "contends",
          "containerName": "详情页内容 ",
          "contentTypes": [
            7
          ]
        }
      ]
    }
  ]
}
